.footer {
  background-color: $surface-yellow;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  @include from($large-width) {
    padding: 32px 80px;
    // background-color: blue;
  }

  @include until($large-width) {
    padding: 32px 80px;
    // background-color: green;
  }

  @include until($medium-width) {
    padding: 32px 48px;
    align-self: stretch;
    // background-color: red;
  }

  @include from($small-width) {
    height: calc(830px - 64px);
  }

  @include until($small-width) {
    height: calc(700px - 64px);
    padding: 32px 24px;
    // background-color: pink;
  }

  & .top {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  & .title-section {
    display: flex;
    // width: 416px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  & .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  & .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    align-self: stretch;
  }

  & .body-section {
    display: flex;
    // width: 846px;
    align-items: flex-start;
    gap: 16px;
  }

  & .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    &.gap {
      gap: 9px;
    }
  }

  & .contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
  }

  & .bottom-small-up {
    @include until($small-width) {
      display: none;
    }
  }

  & .bottom-until-small {
    @include from($small-width) {
      display: none;
    }
  }

  & .bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    @include until($small-width) {
      flex-direction: column;
      gap: 0px;
    }
  }
}