.footer {
  background-color: $surface-yellow;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  @include from($large-width) {
    padding: 32px 80px;
    // background-color: blue;
  }

  @include until($large-width) {
    padding: 32px 80px;
    // background-color: green;
  }

  @include until($medium-width) {
    padding: 32px 48px;
    align-self: stretch;
    // background-color: red;
  }

  @include from($small-width) {
    height: calc(830px - 64px);
  }

  @include until($small-width) {
    height: calc(700px - 64px);
    padding: 32px 24px;
    // background-color: pink;
  }

  & .top {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  & .title-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    
    @include from($large-width) {
      flex: 1 0 0;
    }

    @include until($large-width) {
      width: 416px;
    }
  }

  & .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  & .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    align-self: stretch;
  }

  & .body-section {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    @include from($large-width) {
      flex: 1 0 0;
    }

    @include until($large-width) {
      width: 846px;
    }
  }

  & .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    // align-self: stretch;
    gap: 9px;
  }

  & .contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
  }

  & .bottom-small-up {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > img {
      width: 100%;
      align-self: flex-end;

      @include from($large-width) {
        max-width: 1162px;
        margin-bottom: 58px;
      }

      @include until($large-width) {
        margin-bottom: 27.3px;
      }
    }

    @include until($small-width) {
      display: none;
    }
  }

  & .bottom-until-small {
    @include from($small-width) {
      display: none;
    }
  }

  & .bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .brand {
      @include from($large-width) {
        width: 100%;
      }

      @include until($large-width) {
        width: calc(33.33%);
      }
    }
    
    .links {
      display: flex;
      gap: 16px;

      @include from($large-width) {
        width: 100%;
      }

      @include until($large-width) {
        width: calc(66.67%);
      }
    }

    @include until($small-width) {
      flex-direction: column;
      gap: 0px;
    }
  }
}