.input-wrapper {
  position: relative;
  width: 100%;

  & label {
    display: flex;
    align-items: center;
    position: absolute;
    transform-origin: left;
    margin-left: 1.2rem;
    will-change: transform;
    z-index: 2;
    width: calc(100% - 1.2rem);
    height: 100%;
    top: auto;
    left: auto;
    pointer-events: none;
    cursor: pointer;
    color: $neutral-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    transition: transform 0.2s ease-in-out;

    &.filled {
      transform: scale(0.71) translateY(-14px);
      // font-size: 10px;
    }
  }

  & input {
    display: flex;
    height: calc(56px - 24px - 12px);
    width: calc(100% - 40px);
    padding: 24px 20px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border: none;
    border-radius: 100px;
    background:$neutral-50;
    color: $surface-black;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */

    &:focus-visible {
      outline: none;
    }
  }
}

.textarea-wrapper {
  position: relative;
  width: 100%;

  & label {
    display: flex;
    align-items: center;
    position: absolute;
    transform-origin: left;
    margin-left: 1.2rem;
    will-change: transform;
    z-index: 2;
    width: calc(100% - 2.4rem);
    top: 14px;
    left: auto;
    pointer-events: none;
    cursor: pointer;
    color: $neutral-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    transition: transform 0.2s ease-in-out, width 0.2s ease;

    &.filled {
      transform: scale(0.71) translateY(-14px);
      width: calc(150% - 2.4rem);
    }
  }

  & textarea {
    display: flex;
    resize: none;
    width: 100%;
    max-width: calc(100% - 40px);
    padding: 24px 20px 12px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    flex: 1 0 0;
    border: none;
    background:$neutral-50;
    color: $surface-black;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */

    &:focus-visible {
      outline: none;
    }
  }
}