.input-wrapper {
  position: relative;

  & label {
    display: flex;
    align-items: center;
    position: absolute;
    transform-origin: left;
    text-indent: 1.2rem;
    will-change: transform;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: auto;
    left: auto;
    pointer-events: none;
    cursor: pointer;
    color: $neutral-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    transition: transform 0.2s ease-in-out;

    &.filled {
      transform: scale(0.71) translateX(8px) translateY(-14px);
      // font-size: 10px;
    }
  }

  & input {
    display: flex;
    height: calc(56px - 24px - 12px);
    padding: 24px 20px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border: none;
    border-radius: 100px;
    background:$neutral-50;
    color: $surface-black;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */

    &:focus-visible {
      outline: none;
    }
  }
}