nav {
  display: flex;
  width: calc(100% - 160px);
  height: calc(72px - 32px);
  padding: 16px 80px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(10px);

  @include until($medium-width) {
    width: calc(100% - 96px);
    padding: 16px 48px;
  }

  & .container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  & img {
    width: 91px;
    flex-shrink: 0;
    aspect-ratio: 91/19;

    &:hover {
      cursor: pointer;
    }
  }

  & .menu {
    display: flex;
    width: 100%;
    max-width: 848px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    @include until($large-width) {
      max-width: 875px;
    }

    @include until(1000px) {
      max-width: 560px;
    }

    @include until ($medium-width) {
      display: none;
    }

    & .links {
      display: flex;
      width: 100%;
      max-width: 450px;
      height: 100%;
      align-items: center;
      gap: 16px;
      flex-shrink: 0;
  
      @include until($large-width) {
        max-width: 392px;
        gap: 8px;
      }
  
      & a {
        text-decoration: none;
        color: $surface-black;
        width: 100%;
        max-width: 92px;
        flex-shrink: 0;
      }
    }
  }

  & .menu-button {
    display: flex;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #000;
    transition: transform 0.2s ease-in-out; 

    @include from($medium-width) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    &.open {
      transform: rotate(-45deg);
    }
  }

  & .mobile-menu {
    position: absolute;
    top: 72px;
    width: 100%;
    height: 0px;
    background-color: $surface-white;
    transition: height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // border-top: 1px solid $neutral-100;
    z-index: 1;

    &.open {
      overflow: hidden;
      width: calc(100% - 48px);
      height: calc(100% - 72px - 48px);
      padding: 24px;
    }

    & div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;

      // &.open {
      //   display: flex;
      // }

      & .link {
        padding: 12px 0;
      }
    }
  }
}