nav {
  display: flex;
  width: calc(100% - 160px);
  height: calc(72px - 32px);
  padding: 16px 80px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & .container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  & img {
    width: 91px;
    // height: 19px;
    flex-shrink: 0;
    aspect-ratio: 91/19;

    &:hover {
      cursor: pointer;
    }
  }

  & .body {
    display: flex;
    width: 100%;
    max-width: 848px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    @include until($large-width) {
      max-width: 875px;
    }

    @include until(1000px) {
      max-width: 560px;
    }
  }

  & .links {
    display: flex;
    width: 100%;
    max-width: 450px;
    height: 100%;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;

    @include until($large-width) {
      max-width: 392px;
      gap: 8px;
    }

    & a {
      text-decoration: none;
      color: $surface-black;
      width: 100%;
      max-width: 92px;
      flex-shrink: 0;
    }
  }
}