.stepper {
  display: flex;
  height: 46px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  align-self: stretch;

  & .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  & .back-button {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $surface-black;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 36px; /* 200% */

    &.disabled {
      color: $neutral-500;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & .steps-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  & .step {
    height: 7px;
    width: 100%;
    border-radius: 100px;

    background: linear-gradient(to left, $neutral-100 50%, $surface-black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.75s ease;

    &.active {
      background-position: left bottom;
    }
  }
}