.about-us-section {
  display: flex;
  height: 620px;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;
  align-self: stretch;

  & .container {
    display: flex;
    height: 300px;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
  }

  & .about-us-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }
}