.about-us-section {
  display: flex;
  height: 620px;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;
  
  @include from($large-width) {
    align-self: stretch;
  }

  @include until($large-width) {
    width: calc(100% - 160px);
    max-width: 1440px;
    align-items: flex-start;
  }

  @include until($medium-width) {
    width: calc(100% - 96px);
    padding: 48px;
    align-items: flex-start;
    align-self: stretch;
    height: auto;
  }

  @include until($small-width) {
    width: calc(100% - 112px);
    padding: 32px 56px;
  }

  & .container {
    display: flex;
    height: 300px;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;

    @include until($medium-width) {
      min-height: 300px;
    }

    @include until($small-width) {
      height: auto;
      flex-direction: column;
      gap: 32px;
    }
  }

  & .about-us-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    @include until($small-width) {
      justify-content: center;
      align-items: center;
      gap: 32px;
    }

    & img {
      width: 100%;
      max-width: 126px;

      @include until($small-width) {
        max-width: 80px;
      }
    }

    & .body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      @include until($medium-width) {
        min-height: 108px;
      }
    }
  }
}