.founder-section {
  display: flex;
  height: calc(830px - 160px);
  padding: 80px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;

  @include until ($medium-width) {
    padding: 48px;
    align-items: flex-start;
    gap: 67px;
  }

  & .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    @include until($medium-width) {
      height: 504px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }

  & .title-lg {
    @include from($large-width) {
      flex: 1 0 0;
    }

    @include until($large-width) {
      width: 100%;
      max-width: 416px;
    }
  }

  & .founder-image {
    border-radius: 12px;
    flex: 1 0 0;
    align-self: stretch;
    background: no-repeat center url("../../src/assets/founder.png");
  }

  & .bottom {
    display: flex;
    padding-left: 416px;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;

    @include until($medium-width) {
      padding-left: 0px;
    }
  }

  & .container {
    display: flex;
    width: 1170px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }

  & .body {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    & > p {
      flex: 1 0 0;
    }
  }
}
