.marquee-section {
  display: flex;
  width: 100%;
  padding: 80px 0px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;

  & .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: marquee-content 15s linear infinite;
    padding-left: 100%;
    text-indent: 0;
  }

  & .marquee__item {
    display: flex;
    align-items: center;
    gap: 67px;
    padding-left: 67px;
  }

  @keyframes marquee-content {
    from {
      transform: translateX( 0% );
    }
    to {
      transform: translateX( -100% );
    }
  }
}