.our-method-section {
  display: flex;
  width: calc(100% - 160px);
  max-width: 2500px;
  height: 830px;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  background: $surface-yellow;
  // box-shadow: -60px 0 112px 0 var(--Surface-Surface-Yellow, #E3FF17) inset, 60px 0 112px 0 var(--Surface-Surface-Yellow, #E3FF17) inset;

  & .top {
    display: flex;
    width: 100%;
    max-width: 2260px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  & .title {
    flex: 1 0 0;
  }

  & .body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
  }

  & .body-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  & .slogan {
    width: 100%;
    max-width: 1094px;
  }

  & .bottom {
    display: flex;
    width: 100%;
    max-width: 2540px;
    height: 148px;
    align-items: center;
    gap: 9.202px;
    flex-shrink: 0;
    aspect-ratio: 635/37;
  }
}