.our-brand-section {
  display: flex;
  height: calc(830px - 160px);
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  gap: 67px;
  align-self: stretch;

  @include from($large-width) {
    align-items: flex-end;
  }

  @include until($large-width) {
    align-items: flex-start;
  }

  @include until($medium-width) {
    padding: 48px;
    height: calc(830px - 96px);
  }

  @include until($small-width) {
    padding: 32px 24px;
    height: calc(830px - 64px);
    gap: 32px;
  }

  & .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  & .bottom {
    display: flex;
    width: 1170px;
    align-items: flex-start;
    gap: 16px;
  }

  & .our-brand-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;

    & .image {
      border-radius: 12px;
      background: red;
      height: 391px;
      align-self: stretch;
    }
    
    & .body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
    }

    & .overline-md {
      text-transform: uppercase;
    }
  }
}