.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;

  @include from($large-width) {
    align-self: stretch;
  }

  @include from($medium-width) {
    padding: 80px;
  }

  @include until($medium-width) {
    padding: 48px;
  }

  @include until($small-width) {
    padding: 32px;
  }

  & .container {
    display: flex;
    width: 100%;
    max-width: 2260px;
    flex-direction: column;
    align-items: center;
    gap: 67px;

    @include until($small-width) {
      gap: 32px;
    }
  }

  & .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  & .title {
    @include from($large-width) {
      flex: 1 0 0;
    }

    @include until($large-width) {
      width: 100%;
      max-width: 28.89vw; // 416px at 1440px
    }

    @include until($medium-width) {
      max-width: 22.65vw; // 188px at 830px
    }

    @include until($small-width) {
      max-width: auto;
    }
  }

  & .subtitle {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;

    @include from($large-width) {
      align-self: stretch;
    }

    & > p {
      @include until($small-width) {
        font-family: $primary-font;
        font-size: $title-md-size;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.48px;
      }
    }
  }

  & .body {
    display: flex;
    padding-left: 45.04vw; // 1126px at 2500px
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;

    @include until($large-width) {
      padding-left: 28.89vw;
    }

    @include until($medium-width) {
      padding-left: 0;
    }
  }

  & .service-item {
    display: flex;
    padding: 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-top: 1px solid $neutral-200;
  }
}