.services-section {
  display: flex;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;
  align-self: stretch;

  & .container {
    display: flex;
    width: 2260px;
    flex-direction: column;
    align-items: center;
    gap: 67px;
  }

  & .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  & .subtitle {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    flex: 1 0 0;
  }

  & .body {
    display: flex;
    padding-left: 1126px;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
  }

  & .service-item {
    display: flex;
    padding: 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-top: 1px solid $neutral-200;
  }
}