.symbols-section {
  display: flex;
  // width: 100%;
  height: calc(830px - 160px);
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;

  & .container {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }

  & .title-lg {
    @include from($large-width) {
      flex: 1 0 0;
    }

    @include until($large-width) {
      width: 100%;
      max-width: 416px;
    }
  }

  & .body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }

  & .body {
    display: flex;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
  }

  & .body-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;

    & > p {
      flex: 1 0 0;
    }
  }
}