.who-we-are-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 67px;
  align-self: stretch;

  @include from ($medium-width) {
    min-height: calc(830px - 160px);
    padding: 80px;
  }

  @include until($medium-width) {
    min-height: calc(1002px - 96px);
    padding: 48px;
  }

  & .container {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }

  & .title {
    @include from ($large-width) {
      flex: 1 0 0;
    }

    @include until($large-width) {
      width: 100%;
      max-width: 416px;;
    }

    @include until($medium-width) {
      max-width: 180px;
    }
  }

  & .body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    & > h1 {
      letter-spacing: -2.56px;
    }
  }

  & .body {
    display: flex;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
  }

  & .body-container {
    display: flex;
    width: 100%;
    max-width: 469px;
    height: 289px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      align-self: stretch;
    }
  }
}