.admin-projects-view {
  width: calc(100% - 224px);
  display: flex;
  padding: 80px 112px 80px 112px;
  flex-direction: column;
  gap: 67px;

  @include until($medium-width) {
    display: none;
  }

  & .images-container {
    border-radius: 12px;
    background-color: $neutral-100;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.login-section {
  display: flex;
  padding: 80px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: no-repeat center / cover url("../../assets/contact-bg.svg");
  min-height: calc(100vh - 160px);

  @include until($medium-width) {
    padding: 0px;
  }

  & .box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background: $surface-white;
    max-width: calc(448px - 48px);
    padding: 24px;
    gap: 32px;
    border-radius: 24px;

    @include until($medium-width) {
      display: none;
    }
  }
}

.empty-admin-projects-view {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include from($medium-width) {
    display: none;
  }
}
