.contact-section {
  @include from($medium-width) {
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: no-repeat center / cover url("../../assets/contact-bg.svg");
  }

  & .box {
    display: flex;
    width: 100%;
    max-width: calc(448px - 48px);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 24px;
    background: $surface-white;
  }
}