.loader{
  position: fixed;
  inset: 0;
  height: 200vh;
  background: $surface-yellow;
  background: linear-gradient(180deg, $surface-yellow 0%, $surface-yellow 50%, transparent 100%);
  z-index: 9999;
  transform: translateY(0);
  transition: transform 2.2s cubic-bezier(.77,0,.18,1);
}

.loader.slide-up {
  transform: translateY(-100%);
}