.projects-view {
  &-header {
    display: flex;
    padding: 152px 112px 80px 112px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px;

    @include until($large-width) {
      padding: 152px 80px 80px;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
    }

    @include until($medium-width) {
      padding: 120px 48px 40px;
    }

    @include until($small-width) {
      padding: 104px 24px 26px;
    }

    & .container {
      display: flex;
      min-height: 206px;
      align-items: flex-start;
      align-self: stretch;

      @include until($large-width) {
        min-height: auto;
      }

      @include until($medium-width) {
        width: 100%;
        justify-content: space-between;
      }

      & > p {
        flex: 1 0 0;
      }
    }

    & .title-lg {
      @include until($large-width) {
        width: 100%;
        min-width: 416px;
      }

      @include until($medium-width) {
        display: none;
      }
    }

    & .labels-section {
      display: flex;
      max-width: 1090px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      @include until($medium-width) {
        width: 100%;
      }

      & .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 34px;
        align-self: stretch;

        @include until($medium-width) {
          width: 100%;
          gap: 40px;
        }
      }

      & h2 {
        @include until($small-width) {
          display: none;
        }
      }

      & h4 {
        @include from($small-width) {
          display: none;
        }
      }

      & .labels-container {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 8px;
        flex: 1 0 0;
        flex-wrap: wrap;

        @include until($medium-width) {
          display: none;
        }
      }

      & .bottom {
        display: flex;
        align-items: flex-end;
        flex: 1 0 0;
        align-self: stretch;

        // @include until($small-width) {
        //   display: none;
        // }
      }
    }

    & .view-control {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @include until($medium-width) {
        height: 62px;
        min-width: 80px;
      }

      @include until($small-width) {
        height: auto;
        min-width: 80px;
      }
    }
  }

  & .scrollable-label-container {
    margin-bottom: 48px;
    flex: none;
    display: block;
    width: calc(100%);
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    & > div {
      &:first-child {
        margin-left: 48px;
      }

      &:last-child {
        margin-right: 48px;
      }

      margin-right: 8px;
    }
    @include from($medium-width) {
      display: none;
    }

    @include until($small-width) {
      margin-bottom: 26px;

      & > div {
        &:first-child {
          margin-left: 24px;
        }
  
        &:last-child {
          margin-right: 24px;
        }
      }
    }
  }

  &-container-grid {
    display: flex;
    padding: 80px 112px;
    align-items: flex-start;
    align-self: stretch;

    & .grid {
      display: grid;
      grid-column-gap: 16px;
      grid-row-gap: 67px;
      grid-template-columns: repeat(4,1fr);
      justify-content: center;
      align-items: stretch;
      height: auto;
      width: 100%;
    }

    @include until($large-width) {
      padding: 80px;

      & .grid {
        grid-column-gap: 16px;
        grid-row-gap: 56px;
        grid-template-columns: repeat(3,1fr);
      }
    }

    @include until($medium-width) {
      padding: 48px;

      & .grid {
        grid-column-gap: 16px;
        grid-row-gap: 67px;
        grid-template-columns: repeat(2,1fr);
      }
    }

    @include until($small-width) {
      padding: 0px 24px 24px;

      & .grid {
        grid-column-gap: 16px;
        grid-row-gap: 26px;
        grid-template-columns: repeat(1,1fr);
      }
    }
  }

  &-container-single {
    height: calc(1294px - 160px - 531px);
    padding: 80px 0px;
    position: relative;

    & .carrousel{
      height: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;

      & > div {
        position: absolute;
        transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        max-width: 819px;
        height: calc(977px - 531px);

        @include until($large-width) {
          max-width: 576px;
        }

        & > img {
          width: 100%;
          transition: width 400ms;
          -webkit-user-drag: none;
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
          }
        }

        &.hideLeft {
          left: 0%;
          opacity: 0;
          transform: translateY(50%) translateX(-50%);

          & > img {
            width: 200px;
          }
        }

        &.prev {
          z-index: 4;
          left: 15%;
          transform: translateY(50%) translateX(-50%);
          opacity: 0.7;

          & > img {
            width: 200px;
          }
        }

        &.selected {
          align-items: center;
          z-index: 10;
          left: 50%;
          transform: translateY(0px) translateX(-50%);
        }

        &.next {
          z-index: 4;
          left: 85%;
          transform: translateY(50%) translateX(-50%);
          opacity: 0.7;

          & > img {
            width: 200px;
          }
        }

        &.hideRight {
          left: 100%;
          opacity: 0;
          transform: translateY(50%) translateX(-50%);

          & > img {
            width: 200px;
          }
        }
      }
    }

    & .arrow {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      width: calc(40px - 32px);
      height: calc(40px - 20px);
      padding: 10px 16px;
      gap: 10px;
      border-radius: 24px;
      background: $surface-black;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &.prev {
        top: calc(223px + 80px);
        left: calc(50% - 410px - 59px);

        @include until($large-width) {
          left: calc(50% - 288px - 59px);
        }

        @include until($medium-width) {
          left: calc(40px);
        }
      }

      &.next {
        top: calc(223px + 80px);
        left: calc(50% + 410px + 59px);

        @include until($large-width) {
          left: calc(50% + 288px + 59px);
        }

        @include until($medium-width) {
          left: calc(100% - 40px);
        }
      }

      &.disabled {
        display: none;
      }
    }
  }
}

.control-view-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  transition: 0.4s;
  background: $neutral-100;

  &.active {
    background: $surface-black;
  }

  &:hover {
    cursor: pointer;
  }
}

/* Animation styles for transition-group */
.fade {
  backface-visibility: hidden;
  z-index: 1;
}

/* appearing */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

/* appear at / disappear to */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-from,
.fade-enter-to { opacity: 1 }

.project-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;

  & .image {
    height: 391px;
    align-self: stretch;
    border-radius: 12px;
  }

  &:hover {
    cursor: pointer;
  }
}
