.projects {
  &-header {
    display: flex;
    padding: 80px 112px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px;

    & .container {
      display: flex;
      min-height: 206px;
      align-items: flex-start;
      align-self: stretch;

      & > p {
        flex: 1 0 0;
      }
    }

    & .controls {
      display: flex;
      max-width: 1090px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      gap: 34px;
    }
  }
}