.projects {
  &-header {
    display: flex;
    padding: 152px 112px 80px 112px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px;

    & .container {
      display: flex;
      min-height: 206px;
      align-items: flex-start;
      align-self: stretch;

      & > p {
        flex: 1 0 0;
      }
    }

    & .labels-section {
      display: flex;
      max-width: 1090px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      & .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 34px;
        align-self: stretch;
      }

      & .container {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 8px;
        flex: 1 0 0;
        flex-wrap: wrap;
      }

      & .bottom {
        display: flex;
        align-items: flex-end;
        flex: 1 0 0;
        align-self: stretch;
      }
    }

    & .view-control {
      display: flex;
      align-items: center;
    }
  }

  &-container {
    display: flex;
    padding: 80px 112px;
    align-items: flex-start;
    align-self: stretch;
    // flex-wrap: wrap;

    & .grid {
      display: grid;
      justify-content: center;
      align-items: stretch;
      height: auto;
      width: 100%;
    }
  }
}

.control-view-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  transition: 0.4s;
  background: $neutral-100;

  &.active {
    background: $surface-black;
  }

  &:hover {
    cursor: pointer;
  }
}

/* Animation styles for transition-group */
.fade {
  backface-visibility: hidden;
  z-index: 1;
}

/* appearing */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

/* appear at / disappear to */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-from,
.fade-enter-to { opacity: 1 }

.project-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;

  & .image {
    height: 391px;
    align-self: stretch;
  }

  &:hover {
    cursor: pointer;
  }
}
