html {
  font-family: $primary-font;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  & .align-center {
    align-items: center;
  }
  
  &.justify-center {
    justify-content: center;
  }
}

// WIDTHS
.w {
  &-100 {
    width: 100%;
  }

  &-50 {
    width: 50%;
  }
}
