html {
  font-family: $primary-font;
}

.flex {
  display: flex;
}

// WIDTHS
.w {
  &-100 {
    width: 100%;
  }

  &-50 {
    width: 50%;
  }
}

// TEXT STYLES
.text {
  &-semi-bold {
    font-weight: $semi-bold;
  }
}