html {
  font-family: $primary-font;
}

.flex {
  display: flex;

  & .align-center {
    align-items: center;
  }
  
  & .justify-center {
    justify-content: center;
  }
}

// WIDTHS
.w {
  &-100 {
    width: 100%;
  }

  &-50 {
    width: 50%;
  }
}
