// HEADLINE
h1,
h2,
h3,
h4 {
  font-family: $primary-font;
  font-weight: $semi-bold;
  margin: 0;
}

h1,
h3,
h4 {
  letter-spacing: -4%;
}

h1 {
  font-size: $h1-size;
  line-height: 80px;
}

h2 {
  font-size: $h2-size;
  line-height: 62px;
  letter-spacing: -2%;
}

h3 {
  font-size: $h3-size;
  line-height: 54px;
}

h4 {
  font-size: $h4-size;
  line-height: 38px;
}

p {
  margin: 0;
}

// TITLES
.title-lg {
  font-size: 20px;
  font-weight: $semi-bold;
  line-height: 26px;
  letter-spacing: 0%;
}

.title-md {
  font-size: 16px;
  font-weight: $semi-bold;
  line-height: 22px;
  letter-spacing: 0%;
}

.title-sm {
  font-size: 14px;
  font-weight: $semi-bold;
  line-height: 22px;
  letter-spacing: 0%;
}

// PARAGRAPHS
.p-lg {
  font-size: $p-lg-size;
  font-weight: $regular;
  line-height: 24px;
  letter-spacing: 0%;
}

.p-md {
  font-size: $p-md-size;
  font-weight: $regular;
  line-height: 22px;
  letter-spacing: 0%;
}

.p-sm {
  font-size: $p-sm-size;
  font-weight: $regular;
  line-height: 22px;
  letter-spacing: 0%;
}

// OVERLINE
.overline-lg {
  font-size: $overline-lg-size;
  font-weight: $regular;
  line-height: 22px;
  letter-spacing: 0.96px;
}

.overline-md {
  font-family: $mono-font;
  font-size: $overline-md-size;
  font-weight: $regular;
  line-height: 22px;
  letter-spacing: 1.4px;
}

.overline-sm {
  font-size: $overline-sm-size;
  font-weight: $regular;
  line-height: 22px;
  letter-spacing: 1.2px;
}

a {
  font-size: $link-size;
  font-weight: $medium;
  line-height: 22px;
  letter-spacing: 2%;
  offset: 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 8%;
  text-underline-offset: 20%;
  text-underline-position: from-font;

  &:hover {
    cursor: pointer;
  }
}

// MODIFIERS
.uppercase {
  text-transform: uppercase;
}

.text {
  // STYLES
  &-regular {
    font-weight: $regular;
  }

  &-semi-bold {
    font-weight: $semi-bold;
  }

  // COLORS
  &-neutral {
    &-50 {
      color: $neutral-50;
    }

    &-100 {
      color: $neutral-100;
    }

    &-200 {
      color: $neutral-200;
    }

    &-300 {
      color: $neutral-300;
    }

    &-400 {
      color: $neutral-400;
    }

    &-500 {
      color: $neutral-500;
    }

    &-600 {
      color: $neutral-600;
    }

    &-700 {
      color: $neutral-700;
    }

    &-800 {
      color: $neutral-800;
    }

    &-900 {
      color: $neutral-900;
    }
  }
}