// fonts
$primary-font: "Manrope", sans-serif;

// font weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// font sizes
$h1-size: 64px;
$h2-size: 56px;
$h3-size: 48px;
$h4-size: 32px;
$title-lg-size: 20px;
$title-md-size: 16px;
$title-sm-size: 14px;
$p-lg-size: 18px;
$p-md-size: 16px;
$p-sm-size: 14px;
$overline-lg-size: 16px;
$overline-md-size: 14px;
$overline-sm-size: 12px;
$button-size: 14px;
$link-size: 16px;

// colors & gradients
$surface-black: #000000;
$surface-white: #FFFFFF;
$surface-yellow: #E3FF17;

// breakpoints